.u-section-1 .u-sheet-1 {
  min-height: 1189px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 5px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 24px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 823px;
  width: 878px;
  margin: 43px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 24px 97px 57px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 76px;
}

.u-section-2 .u-text-1 {
  margin: 17px auto;
}.u-section-3 .u-sheet-1 {
  min-height: 501px;
}

.u-section-3 .u-video-1 {
  width: 743px;
}.u-section-4 .u-sheet-1 {
  min-height: 266px;
}

.u-section-4 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 156px;
  height: 250px;
  margin: 7px auto 9px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 156px;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform-origin: center center;
}.u-section-5 .u-sheet-1 {
  min-height: 630px;
}

.u-section-5 .u-video-1 {
  width: 749px;
  height: 627px;
  margin: 0 185px 3px auto;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
    height: 603px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 452px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 285px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 266px;
}

.u-section-6 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 156px;
  height: 250px;
  margin: 7px auto 9px;
}

.u-section-6 .u-shape-1 {
  width: 250px;
  height: 156px;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform-origin: center center;
}.u-section-7 .u-sheet-1 {
  min-height: 630px;
}

.u-section-7 .u-video-1 {
  width: 749px;
  height: 627px;
  margin: 0 185px 3px auto;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-7 .u-video-1 {
    width: 720px;
    height: 603px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-7 .u-video-1 {
    width: 540px;
    height: 452px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-7 .u-video-1 {
    width: 340px;
    height: 285px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 266px;
}

.u-section-8 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 156px;
  height: 250px;
  margin: 7px auto 9px;
}

.u-section-8 .u-shape-1 {
  width: 250px;
  height: 156px;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform-origin: center center;
}.u-section-9 .u-sheet-1 {
  min-height: 630px;
}

.u-section-9 .u-video-1 {
  height: 627px;
  margin-top: 0;
  margin-bottom: 3px;
}