.u-section-1 .u-sheet-1 {
  min-height: 257px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 78px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 13px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2276px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-2 .u-group-1 {
  --radius: 10px;
  height: auto;
  margin-top: 22px;
  margin-bottom: 0;
  min-height: 593px;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 30px 12px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 317px;
  height: 300px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-style: italic;
  margin: 0 auto;
}

.u-section-2 .u-group-2 {
  --radius: 10px;
  height: auto;
  min-height: 650px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 11px 0 9px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 1px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 20px 94px 0;
}

.u-section-2 .u-image-2 {
  width: 335px;
  height: 359px;
  margin: 16px 108px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 396px;
  height: 366px;
  margin: -359px auto 0 108px;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-style: italic;
  margin: -7px -196px 0 383px;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-style: italic;
  margin: -22px 353px 0 -165px;
}

.u-section-2 .u-group-3 {
  --radius: 10px;
  height: auto;
  min-height: 801px;
  margin-top: 19px;
  margin-bottom: 22px;
}

.u-section-2 .u-container-layout-3 {
  padding: 12px 29px;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: -1px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  margin: 8px 0 0;
}

.u-section-2 .u-image-4 {
  width: 371px;
  height: 319px;
  margin: 19px auto 0 108px;
}

.u-section-2 .u-image-5 {
  width: 353px;
  height: 186px;
  margin: -252px 109px 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  font-style: italic;
  margin: 0 264px 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  font-style: italic;
  margin: 38px auto 0 272px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-12 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 156px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-2 {
    margin-right: 5px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 314px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 45px;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
    height: 275px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 320px;
    height: 169px;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 96px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 98px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 4622px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 3px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 14px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 19px auto 0;
}

.u-section-3 .u-group-1 {
  --radius: 10px;
  height: auto;
  min-height: 865px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 14px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 2px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-3 .u-image-1 {
  width: 360px;
  height: 471px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-style: italic;
  margin: 0 auto;
}

.u-section-3 .u-group-2 {
  --radius: 10px;
  height: auto;
  min-height: 1102px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 13px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 3px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 438px;
  height: 300px;
  margin: 26px auto 0 89px;
}

.u-section-3 .u-image-3 {
  width: 245px;
  height: 299px;
  margin: -299px 154px 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-style: italic;
  margin: -1px auto 0 286px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  font-style: italic;
  margin: -28px 255px 0 auto;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin: 24px 0 0;
}

.u-section-3 .u-image-4 {
  width: 281px;
  height: 271px;
  margin: 40px auto 0;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  font-style: italic;
  margin: 0 auto;
}

.u-section-3 .u-group-3 {
  --radius: 10px;
  height: auto;
  min-height: 1218px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 12px 12px 15px;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  margin: 3px auto 0;
}

.u-section-3 .u-text-13 {
  font-weight: 400;
  margin: 4px 1px 0;
}

.u-section-3 .u-image-5 {
  width: 413px;
  height: 300px;
  margin: 53px auto 0 90px;
}

.u-section-3 .u-image-6 {
  width: 345px;
  height: 300px;
  margin: -300px 115px 0 auto;
}

.u-section-3 .u-text-14 {
  font-weight: 400;
  font-style: italic;
  margin: 0 auto 0 270px;
}

.u-section-3 .u-text-15 {
  font-weight: 400;
  font-style: italic;
  margin: -29px 261px 0 auto;
}

.u-section-3 .u-text-16 {
  font-weight: 400;
  margin: 23px 1px 0;
}

.u-section-3 .u-image-7 {
  width: 285px;
  height: 300px;
  margin: 52px auto 0 172px;
}

.u-section-3 .u-image-8 {
  width: 271px;
  height: 300px;
  margin: -300px 173px 0 auto;
}

.u-section-3 .u-text-17 {
  font-weight: 400;
  font-style: italic;
  margin: 0 auto 0 288px;
}

.u-section-3 .u-text-18 {
  font-weight: 400;
  font-style: italic;
  margin: -29px 282px 0 auto;
}

.u-section-3 .u-image-9 {
  width: 720px;
  height: 474px;
  margin: 41px auto 0 0;
}

.u-section-3 .u-text-19 {
  font-weight: 400;
  font-style: italic;
  margin: 0 auto 0 195px;
}

.u-section-3 .u-image-10 {
  width: 720px;
  height: 567px;
  margin: 31px 0 0 auto;
}

.u-section-3 .u-text-20 {
  font-weight: 400;
  font-style: italic;
  margin: 0 112px 26px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-10 {
    margin-right: 293px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 217px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 194px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 222px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 205px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 198px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4362px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 82px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 163px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 145px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 167px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 153px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 148px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 164px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 160px;
  }

  .u-section-3 .u-image-9 {
    width: 540px;
    height: 356px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 146px;
  }

  .u-section-3 .u-image-10 {
    width: 540px;
    height: 425px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4073px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 419px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 219px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -218px;
    margin-right: 75px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 89px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 103px;
  }

  .u-section-3 .u-image-5 {
    width: 320px;
    height: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    width: 320px;
    height: 278px;
    margin-top: -232px;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 94px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 91px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 35px;
  }

  .u-section-3 .u-image-8 {
    margin-right: 49px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 101px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 98px;
  }

  .u-section-3 .u-image-9 {
    width: 340px;
    height: 224px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 92px;
  }

  .u-section-3 .u-image-10 {
    width: 340px;
    height: 268px;
  }
}